<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="5" android:versionName="1.04" package="com.cyanogenmod.settings.device.hwa"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <provider android:name="com.cyanogenmod.settings.device.hwa.PackageListProvider" android:exported="false" android:multiprocess="true" android:authorities="com.cyanogenmod.settings.device.hwa.PackageListProvider" />
        <activity android:label="@string/app_name" android:name=".HwaSettingsActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <receiver android:name=".receivers.PackageAddedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PackageRemovedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".HwaSettingsService" />
    </application>
</manifest>